
<!-- ******* Dark Theme and Font increase and decrease ******* -->

  
  <!-- <form>
    <label>
      <input type="checkbox" name="dark" [(ngModel)]="dark"/>
     
    
    </label>
    <h1>Angular website</h1>
    <div style="height:70px;width:30px;background-color: 'red';">

    </div>
    <span style="color:'blue'">Button12</span>
    <button>Button</button>
<div>
    <h1>Welcome to My Angular App</h1>
  
    <p>This is a sample component with dynamic font size.</p>
  
    <button (click)="increaseFontSize()">A+</button>
    <button (click)="decreaseFontSize()">A-</button>
  
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan
        ligula sit amet dui rhoncus, eget hendrerit ligula tempus. Duis euismod
        purus sit amet malesuada aliquet. Integer a ex urna. Vivamus
        ullamcorper, justo at cursus pellentesque, libero nisl hendrerit quam,
        nec ultricies nisi justo id velit.
      </p>
    </div>
  </div>
  
  </form> -->
  <router-outlet></router-outlet>
  <!-- <app-pdf-viewer></app-pdf-viewer>
  <app-media-stream></app-media-stream>

  <app-screen-capture></app-screen-capture>
  <app-media-recorder></app-media-recorder>
  <app-website-search></app-website-search>
  <app-media-capture></app-media-capture>
  <app-media></app-media> -->
  

  