<!-- ******** Screen Capture starts  ******* -->
<div class="row">
    
<h3 style="text-align: center;">Screen Capture</h3>

<div class="col" id="captureElement">
    <p>
        <img src="../../assets/Mask.png" />
        <br>
        Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <span style="color:red;text-decoration: underline;">
            Why do we use it?
        </span>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<br> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default     </p>
</div>
<br>
<div class="col" style="text-align: center;;">
<button  mat-raised-button (click)="screenCapture()" style="margin-right: 5%;padding: 10px;">Screen Capture</button>
<button type="button" mat-raised-button (click)="downloadCapturedImg()" style="padding: 10px;">Download Captured Image</button>
</div>
<br>
<img *ngIf="capturedImageSrc" [src]="capturedImageSrc" alt="Captured Image">
</div>

<!---- ******** Screen Capture ends here ********-->

